@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url(../font/gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(../font/gilroy/Gilroy-Medium.ttf);
}

body {
    background-color: #f0eff4;
}

.sec-head-but {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 30px;
    background: #000000;
    border-radius: 7px;
}

.sec-head-but:hover {
    color: #000000;
    background: #fff;
    border-radius: 7px;
    border: 1px solid #000;
    text-decoration: none;
}

.sec-book-tex h4 {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

.sec-book-tex p {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.sec-book-pad {
    padding-bottom: 100px;
}

.all-lin-sec {
    color: #000;
    text-decoration: none;
}

.all-lin-sec:hover {
    color: #000;
    text-decoration: none;
}

/* ------------------Enquire------------ */
.back-but {
    font-size: 30px;
    background: #000000;
    padding: 13px 20px;
    border-radius: 50px;
    color: #fff;
}

.back-but:hover {
    font-size: 30px;
    background: #fff;
    padding: 13px 20px;
    border-radius: 50px;
    color: #000;
    border: 1px solid #000;
}

.back-but2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
    color: #000;
}

.back-but2:hover {
    text-decoration: none;
    color: #000;
}

.sec-enq-bg {
    background-color: #cce6e4;
    width: 46% !important;
    border-radius: 27px;
    margin-top: 30px;
    padding: 30px;
    margin-bottom: 100px;
}

.sec-enq-bg p {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #000000;
}

.sec-fo-but {
    padding: 10px 30px;
    background: #00B086;
    border-radius: 7px;
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    border: none;
    color: #FFFFFF;

}

label {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #333333;
}

/* ------------Instant/Self Checkin--------------- */
.sec-enq-bg2 {
    background-color: #f1e3de;
    width: 46% !important;
    border-radius: 27px;
    margin-top: 30px;
    padding: 40px;
    margin-bottom: 100px;
}

.sec-enq-bg2 p {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #000000;
}

.sec-fo-but2 {
    padding: 10px 30px;
    background: #F4A261;
    border-radius: 7px;
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    border: none;
    color: #FFFFFF;
}

.sec-book-btn {
    font-family: 'Gilroy-SemiBol';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 9px 20px;
    background: #F4A261;
    border-radius: 7px;
}

.sec-book-btn:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* -------------Packages------------ */
.sec-padin-dd {
    padding-bottom: 100px;
}

.sec-roun-bor {
    border: 1px solid #E63946;
    border-radius: 20px;
    padding: 20px;

}

.sec-p-pp2 {
    font-family: 'Gilroy-SemiBol';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.sec-p-pp22 {
    background-color: #fff;
    font-family: 'Gilroy-SemiBol';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}

.sec-p-text p {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 138.5%;
    color: #000000;

}

/* ---------------------Memberships----------------- */
.sec-padin-dd {
    padding-bottom: 100px;
}

.sec-roun-bor2 {
    border: 1px solid #FCBF49;
    border-radius: 20px;
    padding: 20px;

}

.sec-mem-p {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 138.5%;
    text-align: center;
    color: #666666;
}
/* ---------------------Service Provider----------- */
.sec-roun-bor3 {
    background-color:#d4e4e8 ;
    border-radius: 20px;
    padding: 20px;
}

/* ------------Feedback----------- */
.sec-fo-but22 {
    padding: 10px 30px;
    background: #0582CA;
    border-radius: 7px;
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    border: none;
    color: #FFFFFF;

}
.sec-enq-bg22 {
    background-color: #cddfee;
    width: 46% !important;
    border-radius: 27px;
    margin-top: 30px;
    padding: 30px;
    margin-bottom: 100px;
}
